@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-blue: #1d4ed8;
  --color-brand-navy: #172554;
}

@layer base {
  body {
    @apply bg-[#F8FAFC] text-[#0F172A] antialiased;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}

@layer components {
  .bold-header {
    @apply font-black italic tracking-tighter uppercase;
  }
  
  .status-badge {
    @apply px-2 py-0.5 rounded text-[10px] font-black uppercase tracking-widest border;
  }
}
